.FlexBox{
    display: flex;
    gap: 1rem;
}

.About{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Me{
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.Projects{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4.9375rem;
}


.BannerContainer{
    display: flex;
    padding: 0;
}

.BannerImgs{
    display: flex;
    flex-direction: column;
}

.BannerImgs img{
   width: 730px;
}

.Banner1{
    margin-bottom: -270px;
    opacity: 0.5;

}

.Banner2{
    margin-bottom: -260px;
    opacity: 0.5;
}

.Banner3{
    margin-bottom: -75px;
    opacity: 0.5;
}

@media(max-width:1257px){
    .BannerImgs img{
        width: 835px;
     }
     
    
    .Banner1{
        margin-bottom: -270px;
        opacity: 0.5;
    }
    
    .Banner2{
        margin-bottom: -260px;
        opacity: 0.5;
    }
    
    .Banner3{
        margin-bottom: -200px;
        opacity: 0.5;
    }
}


@media( max-width:1150px){
    .BannerImgs{
        display: none;
    }
}