

.FlexBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.FlexBox ul {
    display: flex;
    gap: 2.125rem;
}

@media(max-width:550px){
    .Menu{
        display: none;
    }
}

