.footer{ 
    padding: 1.5rem 0;
}

.flexBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Icons{
    display: flex;
    gap: 1.25rem;
}

.Me{
    display: flex;
    gap: 2.6875rem;
}

.Me h3{
    margin-bottom: 1rem;
}